In [25]:
#Lendo dados de um arquivo CSV

import pandas as pd #Importando a bibliotaca Pandas
import numpy as np #Importando a bibliotaca Numpy

dataset = pd.read_csv('database.csv', delimiter=';', header=None) #Lendo um arquivo csv com o comendo 
#"read_csv('nomeArquivo', delimiter='delimitadorDeColunas')" da bibliotada pandas e guardando a leitura na variavel dataset

X = dataset.iloc[:,:].values #Alocando o valor da litura em uma matriz X 

print('\n print("dataset")')
print(dataset) #printa os dados lidos

print('\n print("X")')
print(X); #printa os dados em formato de MATRIZ(Como se estivesse dentro de uma)

print('\n dataset.head()')
dataset.head() #printa os dados em uma tabelinha estilizada, o que não pode fazer com X, pois dá erro

 print("dataset")
   0  1   2
0  1  M  17
1  2  a  17
2  3  t  17
3  4  h  17
4  5  e  17
5  6  u  17
6  7  s  17

 print("X")
[[1 'M' 17]
 [2 'a' 17]
 [3 't' 17]
 [4 'h' 17]
 [5 'e' 17]
 [6 'u' 17]
 [7 's' 17]]

 dataset.head()

   0  1   2
0  1  M  17
1  2  a  17
2  3  t  17
3  4  h  17
4  5  e  17

In [31]:
#Manipulando uma Planilha CSV

import pandas as pd
import numpy as np

dataset = pd.read_csv('database.csv', delimiter=';', header=None)
X = dataset.iloc[:,:].values

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X[:,2:4])

X = imputer.transform(X[:,2:4]).astype(str)
X = np.insert(X, 0, dataset.iloc[:,0].values, axis=1)
X = np.insert(X, 1, dataset.iloc[:,1].values, axis=1)

print(X)

[['1' 'M' '13.0']
 ['2' 'a' '14.25']
 ['3' 't' '20.0']
 ['4' 'h' '14.25']
 ['5' 'e' '5.0']
 ['6' 'u' '14.25']
 ['7' 's' '19.0']]